<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/stylesheets/configuracoes-perfil-style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/menu.ejs') %>
    <div class="header">
        <header>
           <img class="logo" src="./public/images/Nimix_gaming_logo_pequeno.jpg" alt="nimix_logo">
        </header> 
    </div>

    <nav>

        <section id="container1">

            <div class="caixa1">
                <ul>
                    <li><a href="">Configurações</a></li>
                    <li><a href="">Perfil</a></li>
                    <li><a href="/lives/cadastrar">Cadastrar Lives</a></li>
                    <li><a href="">Voltar</a></li>
                </ul>
            </div>

        </section>

        <section id="container2">
            <div class="caixa2">
                
                <div class="perfil">
                    <p class="textoPerfil">Perfil</p>
                </div>

                <div class="informacao">
                        <form action="">

                        <label for="email">Email</label><br>
                        <input type="email" class="email" name="email" id="email"><br>

                        <label for="nome">Nome de usuário</label><br>
                        <input type="text" class="nome" name="nome" id="nome"><br>

                        <label for="senha">Senha</label><br>
                        <input type="password" class="senha" name="senha" id="senha">
                        <button type="button"><a class="alterar" href="">Alterar Senha</a></button><br>

                        <label for="descricao">Sobre você</label><br>
                        <textarea name="descricao" id="descricao" cols="54" rows="10"></textarea><br>
                    </form>
                </div>

                

            </div>

        </section>


    </nav>
        
    <footer>
        
            <section id="footer">
            
            <div class="usuario">
                <nav class="perfil">
                    <p class="texto">Perfil</p>
                </nav>
                <nav class="informacoesPerfil">
                    <p class="nome">Usuario</p>
                    <p class="status">Status do perfil</p>
                </nav>
            </div>

            <nav class="logout">
                <button class="botaoLogout" type="submit"><a href="">Terminar Sessão</a></button>
            </nav>
    
        </section>
    
    </footer>

</body>
</html>
