<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cadastro</title>
</head>
<body>

    <main>

        
            <div>
                <h1>Welcome</h1>
                <!-- <label for="">Bem vindo ao Nimix</label> -->
            </div>


            <div class="logo_login">
                <img src="/images/nimix_logo.jpg" alt="">
            </div>

            <div>
                <h2>faça seu cadastro</h2>
            </div>
        <section class="container">

            <div class="contato">
                <form action="" method="post">
                    <div class="form_fields">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email">

                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome">

                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha">

                        <label for="senha_repetir">Repertir Senha</label>
                        <input type="password" name="senha_repetir" id="senha_repetir">
                    </div>
                    

                </form>
                
                    <button class="button_login">Go >></button>
               



            </div>
            
            <div class="politica-senha">
                <div class="politica-tamanho">
                    8 Characters
                </div>
                <div class="politica-numero">
                    Contém Número
                </div>
                <div class="politica-maiuscula">
                    Contém Letra Maiúscula
                </div>
                <div class="politica-especial">
                    Contém caracter especial
                </div>
            </div>
            
                    
                <div class="redes_sociais">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twiter</a>
                </div>
           
                

        </section>

    </main>
    
</body>
</html>