<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login</title>
</head>
<body>

    <main>

        
            <div>
                <h1>Welcome</h1>
                <!-- <label for="">Bem vindo ao Nimix</label> -->
            </div>


            <div class="logo_login">
                <img src="/images/nimix_logo.jpg" alt="">
            </div>

            <div>
                <h2>faça seu login</h2>
            </div>
        <section class="container">

            <div class="contato">
                <form action="" method="post">
                    <div class="form_fields">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email">

                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha">
                    </div>
                    <a href="#">Esqueceu a senha?</a>

                </form>
                
                    <button class="button_login">Go >></button>
               



            </div>
            
            
                <div class="noticias">
                    <p>Notícias do mundo Gamer!!!</p>
                    <article id="article-login">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto, laudantium eius quaerat voluptatibus nulla praesentium commodi aut quod suscipit impedit, esse ducimus vitae accusantium quis! Cum, quo voluptatem. Sint!</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde vero ad doloribus veniam. Cum, nobis qui animi ipsa eaque suscipit cupiditate saepe ut autem vel quia atque blanditiis praesentium debitis!</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem veniam, ratione iusto corporis molestias impedit! Voluptatum magni, sunt explicabo, quo totam quisquam molestias, ipsum sapiente cupiditate autem fugit id vero!</p>
                    </article>
                    
                </div>
    
                <div class="redes_sociais">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twiter</a>
                </div>
           
                

        </section>

    </main>
    
</body>
</html>