* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #18181b;
    width: 1440px;
    max-width: 100%;
    height: 700px;
    max-height: 100%;
}

div.header {
    width: 1440px;
    max-width: 100%;
    background-color: #242730;
}

header {
    margin: 0;
}

img.logo {
    padding-top: 5px;
    padding-left: 5px;
    width: 150px;
    height: 55px;
}

section.cadastroLive {
    width: 1270px;
    height: 700px;
    margin: 20px;
    background-color: #242730;
    display: flex;
    justify-content: flex-start;
}

h1 {
    color: #6F778A;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 30px;
}

/*label.textColor {
    color: #887b7b;
}*/

/*input {
    background-color: #18181b;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    border-color: white;
    margin: 5px 20px 20px 20px;
}*/

input.text {
    background-color: #18181b;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    border-color: white;
    margin: 5px 20px 20px 20px;
    color: EFEFEF;
    padding: 5px;
}

label.margem {
    padding-left: 20px;
    color: #EFEFEF;
}

div.caixa {
    margin: 10px;
}

textarea {
    background-color: #18181b;
    width: 400px;
    margin: 5px 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: #EFEFEF;
}

p a.adicionarImg {
    margin: 0;
    padding-left: 300px;
    padding-bottom: 250px;
    text-decoration: none;
    color: #EFEFEF;
}

input.text2 {
    background-color: #18181b;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    border-color: white;
    color: #EFEFEF;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0;
}


div.caixa2 {
    margin-top: 93px;
}

label {
    color: #EFEFEF;
    padding-bottom: 5px;
}

div.preview {
    margin-top: 35px;
}

p {
    color: #EFEFEF;
}

img#prev {
    width: 700px;
    height: 250px;
}

div.saveAndCancel {
    margin-top: 90px;
}

button.save {
    background-color: #16B27A;
    border: none;
    width: 200px;
    height: 51px;
    border-radius: 5px;
    text-decoration: none;
    color: #EFEFEF;
}

button.cancel {
    background-color: #464649;
    border: none;
    width: 200px;
    height: 51px;
    border-radius: 5px;
    
}

div.saveAndCancel button a {
    text-decoration: none;
    color: #EFEFEF;
}

footer{
    width: 1440px;
    max-width: 100%;
    height: 80px;
    background-color: #242730;
    padding: 2px;
}

section#footer{
    display: flex;
    justify-content: space-between;
}

nav.perfil {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: #18181b;
}

section#metadeDaCaixa2 {
    margin-left: 15px;
}

p.textoPerfil{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #EFEFEF;
    padding-top: 13px;
}

nav.logout {
    padding: 25px;
}

button.botaoLogout {
    background-color: #464649;
    border: none;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    color: #EFEFEF;
}

button.botaoLogout a{
    color: #EFEFEF;
    text-decoration: none;
}