<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/agenda-lives-style.css">

    <title>Agenda Lives</title>
</head>
<body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
        <h3>Destaques</h3>
        <table >
                <tr>
                  <th colspan="3">DDDdddestaques</th>    
                </tr>
                <tr>
                  <td>Infos live 1</td>
                  <td>Infos live 2</td>    
                  <td>Infos live 3</td>   
                </tr>
              </table>
    </div>

    <div>
        <h3>Próximas Lives</h3>
        <table>
                <tr>
                  <th colspan="3">Next on Nimix</th>    
                </tr>
                <tr>
                  <td>Infos live 1</td>
                  <td>Infos live 2</td>    
                  <td>Infos live 3</td>   
                </tr>
              </table>
    </div>
    
</body>
</html>